ColumnLimit: 120
BasedOnStyle: Google
AccessModifierOffset: -2
IndentWidth: 4
TabWidth: 4
UseTab: Never

DerivePointerAlignment: false
PointerAlignment: Right
ReferenceAlignment: Right

WrapNamespaceBodyWithEmptyLines: Always

IncludeBlocks: Regroup
IncludeCategories:
  # Project headers
  - Regex: '^(<|")logenium/'
    Priority: 3
  # Std headers
  - Regex: '<[[:alnum:]_.]+>'
    Priority: 2
  # Other headers
  - Regex: '.*'
    Priority: 1
