ColumnLimit: 120
BasedOnStyle: Google
AccessModifierOffset: -2
IndentWidth: 4
TabWidth: 4
UseTab: Never

DerivePointerAlignment: false
PointerAlignment: Right
ReferenceAlignment: Right

WrapNamespaceBodyWithEmptyLines: Always

IncludeBlocks: Regroup
IncludeCategories:
  # Project headers
  - Regex: '^(<|")logenium/'
    Priority: 7

  # Project libraries
  - Regex: '^(<|")debug.hxx'
    Priority: 6
  - Regex: '^(<|")debug/'
    Priority: 6
  - Regex: '^(<|")xheader/'
    Priority: 5

  # 3rd party headers
  - Regex: '^(<|")(gtest|gmock)/'
    Priority: 4

  # System headers
  - Regex: '^(<|")Windows\.h'
    Priority: 3

  # Std headers
  - Regex: '<[[:alnum:]_.]+>'
    Priority: 2

  # Other headers
  - Regex: '.*'
    Priority: 1
