ColumnLimit: 120
BasedOnStyle: Google
AccessModifierOffset: -2
IndentWidth: 4
TabWidth: 4
UseTab: Never

DerivePointerAlignment: false
PointerAlignment: Right
ReferenceAlignment: Right

WrapNamespaceBodyWithEmptyLines: Always

IncludeBlocks: Regroup
IncludeCategories:
  # Project headers
  - Regex: '^(<|")logenium/'
    Priority: 9

  # Project libraries
  - Regex: '^(<|")(corelib)/'
    Priority: 8
  - Regex: '^(<|")debug.hxx'
    Priority: 7
  - Regex: '^(<|")(corelib|debug)/'
    Priority: 7
  - Regex: '^(<|")xheader/'
    Priority: 6

  # 3rd party headers
  - Regex: '^(<|")common/TracySystem\.hpp'
    Priority: 5
  - Regex: '^(<|")(fmt|tracy)/'
    Priority: 5

  # Test headers
  - Regex: '^(<|")(gtest|gmock)/'
    Priority: 4

  # System headers
  - Regex: '^(<|")xheader/internal/'
    Priority: 3
  - Regex: '^(<|")(wayland-client|wayland-client-protocol)\.h'
    Priority: 3
  - Regex: '^(<|")xcb/'
    Priority: 3
  - Regex: '^(<|")Windows\.h'
    Priority: 3

  # Std headers
  - Regex: '<[[:alnum:]_.]+>'
    Priority: 2

  # Other headers
  - Regex: '.*'
    Priority: 1
